.App {
  text-align: center;
}

.display{
  width: 70%;
  height: 150px;
  border: 1px solid #000;
  margin: auto;
  overflow: auto;
  text-align: left;
}

.display p {
  display: inline-block;
  margin: 5px 10px 5px 0;
  font-size: 1.2rem;
}

.form{
  display: flex;
  justify-content: center;
}

.highlight {
  background-color: yellow;
}